<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <title>Super-Working-Title</title>
  <link rel="stylesheet" href="css/reset.css">

</head>
<body>

<script type="text/javascript" src="js/phaser.min.js"></script>
<script src="js/application.js"></script>
<embed src="assets/battle.mp3" autostart="true" loop="true" hidden="true">
</body>
</html>